<div class="header" role="banner">
	<a class="nav-toggle" id="nav-toggle" title="Toggle Menu" role="button" aria-controls="nav" aria-expanded="false" tabindex="1">
		<i class="fa fa-bars" aria-hidden="true" id="toggler"></i>
		<span class="sr-only">Toggle Menu</span>
	</a>
	<nav class="nav">
        <div class="nav-header">
            {% if pages["_meta"].meta.logo %}
                <a class="logo" href="{{ base_url }}">
                    <img width="60" src="{{ base_url }}/{{ pages["_meta"].meta.logo|url }}" alt=""/>
                </a>
            {% endif %}

            <div class="title" {{ pages["_meta"].meta.tagline ? ' class="tagline"' }}>
                <a href="{{ base_url }}">
                    {{ site_title }}
                    {{ pages["_meta"].meta.tagline|markdown }}
                </a>
            </div>
        </div>
        <div class="menu"> 
            <div id="nav" role="navigation" tabindex="-1">
                <ul>
                    {% for page in pages(depthOffset=-1) if page.title and not page.hidden %}
                        <li {% if page.id==current_page.id %} class="active" {% endif %}>
                            {% if page.meta.Icon is defined %}
                                <i class="fas fa-{{ page.meta.Icon }}" aria-hidden="true"></i>
                            {% endif %}
                            <a href="{{ page.url }}">
                                {{ page.title }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
	</nav>
</div>
